body {
    background-color: lightgray;
}

.select-model {
    text-align: center;
    padding: 0.625rem;
}

#invader {
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(13 * 1.25rem);
}

.pixel {
    width: 1.25rem;
    height: 1.25rem;
    background-color: green;
    text-align: center;
}

.pixel--empty {
    background-color: white;
    color: white;
}

.pixel--plain {
    background-color: black;
    color: black;
}

.pixel--light {
    background-color: red;
    color: red;
}

.pixel--highlight {
    background-color: blue;
    color: blue;
}